<div class="container">
  <div class="row">
    <ng-container *ngFor="let image of images">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img class="card-img-top" [src]="'http://localhost:8000/' + image.image" (click)="showDetails(image)">
          <div class="card-body">
            <h5 class="card-title">{{image.description }}</h5>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="showDetails(image)">
             detail
            </button>

          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedImage?.description }}</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="{{ selectedImage?.image }}" alt="{{ selectedImage?.alt_description }}">
        <p>{{ selectedImage?.description }}</p>
      </div>
    </div>
  </div>
</div>
